.content {
  position: relative;
  /* margin-top: 20px;
  margin-bottom: 5rem; */
}

.login-content-root {
  align-items: center;
  display: var(--_center-display, flex);
  justify-content: center;
}

.login-heading {
  font-size: 2.5em;
  /* color: rgb(255, 0, 0); */
  color: #ff0000;
  letter-spacing: 0.025em;
  font-weight: 700;
  text-align: center;
  /* padding-top: 0.5rem; */
  padding-bottom: 0.5rem;
  /* margin-top: 3%; */
}

.login-section {
  width: 75%;
  margin: auto;
  color: rgba(0, 0, 0, 0.9);
  /* color: #191919; */
}

.login-email {
  margin-top: 1.2rem;
}

.login-password {
  margin-top: 1.25rem;
}

.login-input {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 3.5rem;
  border: 1px solid #ccc;
  background: none;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 500;
  /* letter-spacing: normal; */
  color: rgba(0, 0, 0, 0.9);
  /* color: #191919; */
}

.Login-Button-div {
  text-align: center;
  margin-top: 1.25rem;
}

.Login-Button {
  /* padding-left: 5rem;
  padding-right: 5rem; */
  color: white;
  padding-top: 1rem;
  transition: background-color 500ms ease-in-out;
  padding-bottom: 1rem;
  background-color: #07a31f;
  text-transform: none;
  font: inherit;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  width: 35vw;
  min-width: max-content;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 270px;
}

.gotodifferntlink {
  margin: auto;
  justify-self: center;
  width: 300px;
  text-align: center;
  margin-top: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
  /* color: #191919; */
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .gotodifferntlink {
    width: 80%;
  }
}

@media (max-width: 340px) {
  .menu-drop-down {
    width: 100%;
  }
}

.back-login {
  background: #fff;
  width: 750px;
  border-radius: 40px;
  margin: 0 auto;
  transition: width 600ms ease-in-out;
  color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-weight: 500;
  margin-top: max(20px, calc(50svh - 380px));
  margin-bottom: 20px;
}

.error-span {
  color: red;
  margin-top: 0.5rem;
  font-weight: 400;
  /* font-size: 0.875rem; */
  line-height: 1.25rem;
}

.invalid-credentials {
  margin: auto;
}

.invalid-credentials-div {
  text-align: left;
  padding-right: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.invalid-credentials-text {
  --tw-text-opacity: 1;
  color: red;
  font-weight: 400;
  margin-top: 0.25rem;
}

.content,
.login-input {
  font-size: 16px;
}

@media (max-width: 674px) {
  .login-heading {
    font-size: 30px;
  }

  .Login-Button {
    width: 50%;
  }
}

@media (min-width: 675px) and (max-width: 899px) {
  .back-login {
    max-width: 90%;
  }
}

@media (min-width: 2550px) {
  .login-heading {
    font-size: 48px;
  }

  .content,
  .login-input {
    font-size: 20px;
  }

  .gotodifferntlink {
    margin-top: 1.5rem;
    width: 400px;
  }

  .custom-container {
    display: inline-flex; /* Use inline-flex to align items horizontally */
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    margin-left: 5px;
  }

  /* Create a custom checkbox with a white background and rounded black border */
  .custom-checkmark {
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 5px;
  }

  /* Style the checkmark/indicator */
  .custom-container input:checked ~ .custom-checkmark:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    border-width: 0 2px 2px 0; /* Increase the border width for a bolder tick */
  }
}

@media (min-width: 3430px) {
  .back-login {
    width: 1100px;
  }

  .login-heading {
    font-size: 60px;
  }

  .content,
  .login-input {
    font-size: 24px;
  }

  .login-heading {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 60px;
  }

  .login-email {
    margin-top: 3.75rem;
  }

  .login-input {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2.25rem;
    height: 5rem;
    margin-top: 4.5px;
  }

  .error-span {
    margin-top: 0.75rem;
  }

  .login-password {
    margin-top: 1.75rem;
  }

  .login-remember-me-div {
    margin-top: 1.75rem;
  }

  .Login-Button-div {
    margin-top: 1.75rem;
  }

  .gotodifferntlink {
    margin-top: 1.75rem;
    width: 500px;
  }

  .custom-container {
    font-size: 18px;
  }

  /* Create a custom checkbox with a white background and rounded black border */
  .custom-checkmark {
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 3px;
  }

  /* Style the checkmark/indicator */
  .custom-container input:checked ~ .custom-checkmark:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0; /* Increase the border width for a bolder tick */
  }
}

.login-email-label {
  color: rgba(0, 0, 0, 0.9);
}

.login-password-label {
  color: rgba(0, 0, 0, 0.9);
}

/* Place holder styling */
::placeholder {
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  /* font-size: 16px; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.password-input-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

#show-password-img {
  position: absolute;
  margin-right: 20px;
  height: 40%;
  margin-top: 5px;
  cursor: pointer;
}

@media (max-width: 674px) {
  html,
  body {
    display: flex;
    flex: 1;
    width: 100%;
    padding-bottom: 0px !important;
  }

  main {
    width: 100%;
    display: flex;
    height: inherit;
    flex: 1;
  }

  .login-container,
  .login-content-root {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .content {
    height: auto;
    height: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin: 0px;
    margin-top: 20px;
    flex: 1;
    position: relative;
    /* margin-bottom: 100px; */
  }

  .back-login {
    margin: 0px;
    max-width: 100%;
  }

  .footer {
    bottom: -285px;
    position: relative;
    margin-top: -90px;
  }
}

@media (min-width: 675px) and (max-width: 899px) and (orientation: portrait) {
  .content {
    margin-top: max(20px, calc(50svh - 229px - 36px - 80px));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .back-login {
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
  }

  .login-content-root {
    width: 100%;
  }
}

@media (min-width: 675px) and (max-width: 899px) and (orientation: landscape) {
  .content {
    margin-top: max(20px, calc(50svh - 229px - 80px));
    margin-bottom: max(30px, calc(50svh - 229px));
  }

  .back-login {
    margin-top: 0;
    margin-bottom: 0;
  }

  .login-content-root {
    width: 100%;
  }
}

@media (min-width: 900px) and (max-width: 999px) and (orientation: portrait) {
  .content {
    position: absolute;
    width: 100%;
    height: calc(100svh - 220px);
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .back-login {
    margin-top: 0;
    margin-bottom: 0;
    width: 680px;
  }

  .login-heading {
    font-size: 44px;
  }

  .content,
  .login-input {
    font-size: 18px;
  }
}

@media (min-width: 900px) and (max-width: 999px) and (orientation: landscape) {
  .content {
    margin-top: max(20px, calc(50svh - 238px - 80px));
    margin-bottom: max(20px, calc(50svh - 238px));
  }

  .back-login {
    margin-top: 0;
    margin-bottom: 0;
  }

  .login-heading {
    font-size: 44px;
  }

  .content,
  .login-input {
    font-size: 18px;
  }
}

/* tablet XL design */
@media (min-width: 1000px) and (orientation: portrait) {
  .content {
    position: absolute;
    width: 100%;
    height: calc(100svh - 220px);
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .back-login {
    margin-top: 0;
    margin-bottom: 0;
    width: 680px;
  }

  .login-heading {
    font-size: 44px;
  }

  .content,
  .login-input {
    font-size: 18px;
  }
}

@media (min-width: 1000px) and (max-width: 1269px) and (orientation: landscape) {
  /* margin-top: 50svh - h/2 - 33px - 80px */
  .content {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .back-login {
    width: 675px;
    margin-top: max(20px, calc(50svh - 221px - 80px));
    margin-bottom: max(20px, calc(50svh - 221px));
  }

  /* .login-heading {
    font-size: 44px;
  }

  .content,
  .login-input {
    font-size: 18px;
  } */

  .login-heading {
    font-size: 40px;
  }

  .content,
  .login-input {
    font-size: 16px;
  }

  .login-input {
    height: 3rem;
  }

  .login-section {
    width: 83.33%;
  }
}

@media (min-width: 1270px) and (max-width: 1389px) and (orientation: landscape) {
  /* margin-top : 50svh - height/2 - 90px */
  .back-login {
    margin-top: max(40px, calc(50svh - 196px - 69px));
    padding-top: 1.5rem;
    width: 520px;
    padding-bottom: 2.5rem;
    margin-bottom: max(40px, calc(50svh - 196px));
  }

  .login-section {
    width: 80%;
  }

  .gotodifferntlink {
    width: 350px;
  }

  .login-heading {
    font-size: 38px;
  }

  .content,
  .login-input {
    font-size: 15px;
  }

  .login-heading {
    padding-bottom: 0px;
  }

  .login-input {
    height: 2.5rem;
  }
}

@media (min-width: 1390px) and (max-width: 1589px) and (orientation: landscape) {
  /* margin-top : 50svh - height/2 - 90px */
  .back-login {
    margin-top: max(40px, calc(50svh - 203px - 69px - 21px));
    padding-top: 1.5rem;
    width: 540px;
    padding-bottom: 2.5rem;
    margin-bottom: 0px;
  }

  .login-section {
    width: 80%;
  }

  .gotodifferntlink {
    width: 350px;
  }

  .login-heading {
    font-size: 40px;
  }

  .content,
  .login-input {
    font-size: 16px;
  }

  .login-heading {
    padding-bottom: 0px;
  }

  .login-input {
    height: 42px;
  }
}

@media (min-width: 1590px) and (max-width: 1909px) and (orientation: landscape) {
  /* margin-top: 50svh - 91px */
  .login-heading {
    font-size: 44px;
  }

  .back-login {
    margin-top: max(40px, calc(50svh - 223px - 69px - 21px));
    width: 570px;
    margin-bottom: 0px;
  }

  .content,
  .login-input {
    font-size: 17px;
  }

  .login-input {
    height: 44px;
  }

  .login-section {
    width: 80%;
  }
}

@media (min-width: 1910px) and (max-width: 2549px) and (orientation: landscape) {
  /* margin : 50svh - h/2 - 91 */
  .login-heading {
    font-size: 46px;
  }

  .back-login {
    margin-top: max(40px, calc(50svh - 235px - 23px - 69px));
    margin-bottom: 30px;
    width: 660px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .login-section {
    width: 100%;
  }

  .content,
  .login-input {
    font-size: 18px;
  }

  .gotodifferntlink {
    width: 70%;
  }

  .login-input {
    height: 51px;
  }
}

@media (min-width: 2550px) and (max-width: 3429px) and (orientation: landscape) {
  .back-login {
    margin-top: max(40px, calc(50svh - 243px - 24px - 87px));
    margin-bottom: 20px;
    width: 700px;
  }
  .login-heading {
    font-size: 48px;
  }

  .content,
  .login-input {
    font-size: 20px;
  }

  .login-input {
    height: 52px;
  }
}

@media (min-width: 3430px) and (orientation: landscape) {
  .back-login {
    margin-top: max(40px, calc(50svh - 313px - 102px - 29px));
    margin-bottom: 20px;
    width: 1000px;
  }

  .login-heading {
    font-size: 56px;
    padding-bottom: 0px;
  }

  .content,
  .login-input {
    font-size: 28px;
  }

  .login-input {
    height: 70px;
  }

  .login-email {
    margin-top: 2rem;
  }

  .Login-Button {
    max-width: 350px;
    padding: 1.3rem 50px;
  }
}
